.img{
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:linear-gradient(#0b1c40b7),url("../assets/hero-real-estate-DK-xXGdr.jpg");
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.imgtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
#textclr{
    font-size: 50px;
}
#textclr1{
    color: #fabd23;
    font-size: 50px;
}
.imgbox{
    width: 90%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imgbtn{
    height:40px;
    width: 80px;
    background-color: white;
    color: white;
    font-size: large;
    border-radius: 8px;
}
.imgbtn1{
        height: 40px;
        width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
}
.dropdown-item{
    transition: background-color 0.5s;
}
.dropdown-item:hover{
    background-color: #fabd23;
}