#hm {
    height: 35px;
    width: 35px;
    border-radius: 8px;
    background-color: #0b1c40;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: #fabd23;
}

.navbar-toggler{
    transition: background-color 0.5s;
}

.navbar-toggler:hover {
    background-color: #fabd23;
}
